<footer class="site-footer">
  <div class="wrapper footer-wrapper">
    <div class="footer-content">
      <p>{{site.description}} </p>
      <p>&copy Copyright Дани Рангелова</p>
      <span itemscope itemtype="http://schema.org/Organization">
        <link itemprop="url" href="http://peropodnaem.com">
        <a itemprop="sameAs" href="https://www.facebook.com/peropodnaem"><img border="0" alt="Facebook profile" src="http://peropodnaem.com/images/facebook.png"></a>
        <a itemprop="sameAs" href="https://www.linkedin.com/in/dani-rangelova-1a895139/"><img border="0" alt="Linkedin profile" src="http://peropodnaem.com/images/linkedin.png"></a>
        <a itemprop="sameAs" href="https://danishouse.wordpress.com/"><img border="0" alt="Blog" src="http://peropodnaem.com/images/wordpress.png"></a>
      </span>
    </div>
  </div>
</footer>
