<footer class="site-footer">
  <div class="wrapper footer-wrapper">
     <!-- <p>{{site.description}} </p> -->
      <p>&copy Copyright Дани Рангелова
        <span itemscope itemtype="http://schema.org/Organization">
          <link itemprop="url" href="http://peropodnaem.com">
          <a itemprop="sameAs" href="https://www.facebook.com/peropodnaem"><img border="0" alt="Facebook profile" src="http://peropodnaem.com/images/facebook.png" width="25px" height="25px"></a>
          <a itemprop="sameAs" href="https://www.linkedin.com/in/dani-rangelova-1a895139/"><img border="0" alt="Linkedin profile" src="http://peropodnaem.com/images/linkedin.png" width="25px" height="25px"></a>
          <a itemprop="sameAs" href="https://danishouse.wordpress.com/"><img border="0" alt="Blog" src="http://peropodnaem.com/images/wordpress.png" width="25px" height="25px"></a>
        </span>
      </p>
  </div>
</footer>