.site-title {
    text-align: center;
    font-family: $title-font-family;
    .a {
	color: #000;
    }
}

.site-header {
    a {
	color: $white-color;
	text-decoration: none;
	transition: 0.3s;
	
	&:hover {
	    color: $brand-color;
	} 
    }   
    padding: 2em 0 0;
    border: 0;
    background: url('../images/main_header.jpeg');
    background-size: cover;
    height: 15em;
    display: inline-block;
    width: -webkit-fill-available;
}

.site-index-header {
    a {
	color: $white-color;
	text-decoration: none;
	transition: 0.3s;
	
	&:hover {
	    color: $brand-color;
	} 
    }   
    padding: 2em 0 0;
    border: 0;
    height: 320px;
    background-size: cover;

}
