---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "yaboda";

.breadcrumbs li {list-style: none; float: left; padding: 0 10px; font-weight: 400; font-size: 1vw;}
.breadcrumbs a {color: white;}
.breadcrumbs a:hover {color: #df6d59;}
div.clear {clear: both;}
.wrapper p {padding-bottom: 40px;}
.wrapper {margin:0 auto;}
.footer-wrapper {padding: 20px;}
h4, h5 {text-align: center;}
#videos .video-holder {width: 500px; margin: 0 80px 80px 0; float: left;}
#videos .video-holder:nth-child(even) {margin-right: 0px;}