.page-body {
    background-size: cover;
    background-color: rgba(120, 120, 120, 1);
}


.index-body {
    background: url('../images/main_header.jpeg') no-repeat fixed center;
    background-size: cover;
    color: $white-color;
    margin: 0.1em;
    .site-nav {
    	height: 3em;
    }
    height:-webkit-fill-available;
}

.page-content {
    font-family: $base-font-family;
    font-size: 1.3vw;
    font-weight: bold;
    color: $white-color;
    background-size: cover;
    background-color: rgba(120, 120, 120, 0.8);
    width: 100%;
    height: 100%;
    display: block;

}

.page-background {
    padding-top: 0;
    margin: 0;
    display: block;
    background-size: cover;
    background-position:center;
}


